{% extends 'landsApp/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% if farm %}Edit{% else %}Add New{% endif %} A2 Farm</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <h5>Please correct the errors below:</h5>
                            {{ form.errors }}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.farm_name.id_for_label }}">Farm Name</label>
                                    {{ form.farm_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.farm_number.id_for_label }}">Farm Number</label>
                                    {{ form.farm_number }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.area_size.id_for_label }}">Area Size</label>
                                    {{ form.area_size }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.area_units.id_for_label }}">Area Units</label>
                                    {{ form.area_units }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.district.id_for_label }}">District</label>
                                    {{ form.district }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.province.id_for_label }}">Province</label>
                                    {{ form.province }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.allocation_status.id_for_label }}">Allocation Status</label>
                                    {{ form.allocation_status }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.allocation_date.id_for_label }}">Allocation Date</label>
                                    {{ form.allocation_date }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.registration_date.id_for_label }}">Registration Date</label>
                            {{ form.registration_date }}
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save A2 Farm</button>
                            <a href="{% url 'resettlement_dashboard' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 